*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
	font-family: sans-serif;
}
a{
	text-decoration: none;
	color:#1B2022;
	margin-right: 20px;
}
.clearfix:before, .clearfix:after{
	content: "";
	display: table;
}
.clearfix:after{
	clear: both;
}
body{
	background: url(../images/back.png);
}

