/* Dropdown Button */
.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    margin-top: 10%;
    position: absolute;
    background-color: #242424;
    opacity: 80%;
    min-width: 200px;
    z-index: 1;
    /* for stacking in top */
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: small;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: black;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #242424;
    color: #CC003E;
}

.banner {
    background: url(../images/photo/photo-1.jpg) no-repeat;
}

h1 {
    background-color: #CC003E;
    color: white;
    font-weight: 20;
    font-size: xx-large;
}

.content p {
    background-color: #CC003E;
    color: white;
}

.light {
    color: #CC003E;
    padding: 5px;
    font-size: large;
    text-align: center;
}

.description span {
    font-size: small;
    padding-left: 10%;
    font-weight: bolder;
}

.para {
    font-size: small;
    padding: 5px;
    text-align: center;
}

.section_header {
    padding: 1%;
}

.card {
    width: 22%;
    height: 15%;
    padding: 10px;
    margin-left: 2.5%;
    margin-bottom: 2.5%;
    background-color: white;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card1 {
    width: 40%;
    height: 2%;
    padding: 10px;
    margin-left: 2.5%;
    margin-bottom: 2.5%;
    background-color: white;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card1 img {
    width: 100%;
    height: 150px;
}

.card img {
    width: 100%;
    height: 300px;
}

.name {
    text-align: center;
    color: gray;
    font-size: smaller;
}

.price {
    text-align: center;
    color: #CC003E;
    font-weight: bold;
}

del {
    color: grey;
    font-weight: lighter;
    font-size: smaller;
    padding-left: 5px;
}

.offers1 {
    background: url(../images/special-offers-sale-bg-1.jpg) no-repeat;
    width: 30%;
    padding: 5%;
    float: left;
    margin-right: 3%;
}

.offers2 {
    background: url(../images/special-offers-percent-off-bg-1.jpg) no-repeat;
    width: 30%;
    padding: 5%;
    float: left;
    margin-right: 3%;
}

.offers3 {
    background: url(../images/special-offers-specials-bg-1.jpg) no-repeat;
    width: 30%;
    padding: 5%;
    float: left;
    margin-right: 3%;
}

h2 {
    color: white;
    font-size: 50px;
    text-align: center;
}

.offers1 img {
    padding-left: 20%;
}

.offers2 img {
    padding-left: 20%;
}

.offers3 img {
    padding-left: 20%;
}

.par {
    color: white;
    text-align: center;
}

h3 {
    font-weight: lighter;
    font-stretch: wider;
    color: #CC003E;
    margin-bottom: 2%;
    margin-top: 2%;
}

.section1 p a {
    color: #CC003E;
    font-weight: bolder;
}

.phone {
    font-size: x-large;
}

.mail {
    font-weight: 650;
}

.space1 a {
    color: white;
    font-size: small;
}

.space2 a {
    color: #CC003E;
}

.spacec {
    color: white;
    font-size: small;

}

.newsletter {
    font-weight: 100;
}

strong {
    font-weight: bolder;
}

.subs {
    margin-top: 5%;
}

.subs img {
    float: left;
}

.icon {
    padding: 5%;
}

.footer-credit p {
    padding-right: 15%;
    padding-left: 15%;
    color: gray;

}

.footer-credit p img {
    position: relative;
    top: 10px;
}

